extends layout

block content
  
  .container
    h1= title
    p Welcome to #{title}
  .bg-image.img3
    h1 .
    h1 .
    h1 
      a.offset-2.centered(href='/package' style='width: 60rem;').button.btn.btn-primary Travel Packages
    //- .content.my-3
  .container
    .bg-image.img3
    .bg-image.img2
    .bg-image.img1
    
