extends layout

block content
  h2.text-primary Welcome to 
  .bg-image.img4(style=" max-height: 300px;")
  .bg-image.img5(style=" max-height: 300px;")
    #textcontent2.bg-text4
      h1.text-primary Travel Experts Inc
      h2.text-primary Here to help keep you on the Move
    #textcontent2.bg-text3
      h1.
      h2.
      .big
        article.packages
          .flight_form
            h3 Find your Trip
            .trip_type
              form(action='#')
                input#roundTrip(type='radio' name='tripType' value='roundTrip')
                label(for='roundTrip') Round Trip
                input#oneWay(type='radio' name='tripType' value='oneWay')
                label(for='oneWay') One Way
                input#multiCity(type='radio' name='tripType' value='multiCity')
                label(for='multiCity') Multi City
            br
            br
            .location
              form(action='/package' method='')
                label(for='departure') Flying From:
                .flight-wrapper
                  select#departure(name='departure')
                    option(value='') Calgary
                    option(value='') Edmonton
                    option(value='') Toronto
                    option(value='') Vancouver
                label(for='arrival') Flying To:
                .flight-wrapper
                  select#arrival(name='arrival')
                    option(value='') Calgary
                    option(value='') Edmonton
                    option(value='') Toronto
                    option(value='') Vancouver
                br
                br
                label(for='departure_date') Departure Date:
                input#departure_date(type='date' name='departure_date')
                label(for='arrival_date')  Arrival Date:
                input#arrival_date(type='date' name='arrival_date')
                br
                br
                input(type='submit' value='Search' )
  .bg_image.img8
  .bg_image.img10
  .grid-container.text-center
    .about.p-lr
      h2 About Us
        p(style='color: black;')
              |Few things in life are as valuable as vacation time and, with it, planning the ideal trip. 
              |We have the ideal vacation for you, whether you prefer the beach, the city, the opulent, or the budget-friendly. 
              |Browse our carefully selected vacation specials, or let us plan your affordable all-inclusive holiday, last-minute vacation, 
              |or long weekend break in Canada for you and your family.
            p(style='color: black;')  
              | Our travel brands enable every sort of traveller not just find the vacation that&apos;s ideal for them,
              | but also get the best value every time, no matter who they are or where they&apos;re going. 
    .contact_details
      h4 Contact Us
      i.fas(style='font-size: 20px;')  123-456-7890 
      br
      br
      i.fas.fa-envelope(style='font-size: 20px;')  travelexpertsinc@icloud.com 
      br
      br
      i.fas.fa-map-marker-alt(style='font-size: 20px;') Calgary, Alberta
      
