doctype html
html
  head
    //- title= pagetitle
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')

    link(rel='stylesheet', href='/stylesheets/style.css')
    //- title Caribbean New Year
    // <link rel="stylesheet" href="./packages.css">
    link(rel='stylesheet' href='../stylesheets/packages.css')
    link(rel='stylesheet' href='../stylesheets/package1.css')
    //- link(rel='stylesheet' href='../stylesheets/new_packages.css')

    //- link(rel='stylesheet' href='../stylesheets/package2.css')
    //- link(rel='stylesheet' href='../stylesheets/package3.css')
    //- link(rel='stylesheet' href='../stylesheets/package4.css')


  body
    h5 
      ul
        li
          a.text-white.nav-link.active(aria-current='page', href='/') Home
        
        if currentUser
          li
            a.text-white.nav-link(href='/post/create') Create a Post
        //- li
        //-   a(href='#register') Register
        li
          a.text-white.nav-link(href='/package') Travel Packages
        
        if currentUser && currentUser.role == "manager"
          li(style='float:right')
            a.text-white.nav-link(href='/data') Performance Data
          li(style='float:right')
            a.text-white.nav-link(href='/customers') Customers  
        else
          li(style='float:right')
            a.text-white.nav-link(href='#about') Cart




    //- .container
    //-   include nav.pug

    .container 
      if currentUser
        ul.bg-light.text-center
          h5
            span.text-primary Welcome Back #{currentUser.fname}
            
            a.offset-1.button.btn.btn-primary.mb-2(href="/log-out") Log Out
      else
        include login.pug

    .container
      if errors    
        each error in errors
            p.alert.alert-danger= error
    .content.my-3
      if message
        .alert.alert-success= message
      //- if  messages()
      //-   .alert.alert-success
      //-     each msg in messages()
      //-       p=msg
    
    //- .content.my-3
    block content
    //- .bg-image.img3
    //-   
    //- .bg-image.img2
    //- .bg-image.img1
      

    .container.bg-secondary.my-4
      h5 Copyright 2021
    // Optional JavaScript; choose one of the two!
    // Option 1: Bootstrap Bundle with Popper
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
