doctype html
//- Author:Mohamed Ibrahim
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //- Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/packages.css') 
    link(rel='stylesheet' href='/stylesheets/package1.css')
  body
    h5 
      ul
        li
          a.text-white.nav-link.active(aria-current='page', href='/') Home
        li
            a.text-white.nav-link(href='/package') Travel Packages
        li.nav-item
            a.text-white.nav-link(href='/post/contact') Contact us 
  
        if currentUser && (currentUser.role == "manager" || currentUser.role == "agent")
          li(style='float:right')
            a.text-white.nav-link(href='/data') Performance Data
          li(style='float:right')
            a.text-white.nav-link(href='/users') Users  
          li(style='float:right')
            a.text-white.nav-link(href='/customer') Customers  
          li.nav-item
              a.text-white.nav-link(href='/package/add') Create a Package
        if currentUser
          li(style='float:right')
            a.text-white.nav-link(href='/users/userprofile/' + currentUser.userId) Profile
          li(style='float:right')
            a.text-white.nav-link(href='/package/purchases/' + currentUser.userId) Cart

    .container 
      if currentUser
        ul.bg-light.text-center
          h5
            span.text-primary Welcome Back #{currentUser.fname}
            
            a.offset-1.button.btn.btn-primary.mb-2(href="/log-out") Log Out
      else
        include login.pug
    //- Displaying Error messages
    .container
      if errors    
        if errors.length > 5    
          p.alert.alert-danger= errors
        else    
          each error in errors
              p.alert.alert-danger= error
    //- Displaying messages
    .content.my-3
      if message
        .alert.alert-success= message

    block content

    .container.bg-secondary.my-4
      h5 Copyright 2021 Travel Expert Inc
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
    script(type='text/javascript' src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    