//- Author:Mohamed Ibrahim
if !hideLogin
    .container
        form(action="/login" method="POST").text-center
            ul.bg-light 
                li.offset-3
                    input.form-control(name="username" placeholder="Username" type="text")
                li
                    input.form-control(name="password" type="password" placeholder="Password")
                li
                    button.btn.btn-primary.mb-2 Log In
                if !currentUser
                    li.offset-1
                        a.float-end.bg-secondary(href="/users/sign-up").button.btn.btn-primary.mb-2 Register