extends layout

block content
    h1 Please Register
    .bg-image.img1(style=" max-height: 300px;")
    form.row.g-3.my-3(method='POST' action="/users/sign-up")
        p.d-none 
            label(for="_id")
            input.form-control(name="_id" value= userId type="number")
        p.d-none 
            label(for="customerId")
            input.form-control(name="customerId" value= userId type="number")
        p.d-none 
            label(for="userId")
            input.form-control(name="userId" value= userId type="number")
        .col-md-6
            label(for="username") Username
            input.form-control(name="username" placeholder="Username" type="text")
        .col-md-6
            label(for="password") Password
            input.form-control(name="password" type="password")
        .col-md-6
            label(for="fname") First Name
            input.form-control(name="fname" placeholder="Your First Name" type="text")
        .col-md-6
            label(for="lname") Last Name
            input.form-control(name="lname" placeholder="Family Name" type="text")
        .col-md-6
            label(for="email") Email
            input.form-control(name="email" placeholder="Email Address" type="email")
        //- if currentUser.role == "manager"
            .col-md-6
                label(for="role") Role
                input.form-control(name="role" placeholder="manager" type="text")
        //- else 
        //-     .col-md-6
        //-         label(for="role") Role
        //-         input.form-control(name="role" placeholder="customer" type="text")
        .col-md-12
            button.btn.btn-primary(type="submit") Register