@charset "UTF-8";
* {
	box-sizing: border-box;
	/* border:  2px magenta solid; */
}

nav {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00c2d2;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #00c2d2;
}

.active {
	background-color: #00b2c1
}

body, html {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.overlap {
	grid-area: 1 / 1 / 2 / 2;
}

.bg-image {
	height: 35%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#img1 {
	background-image: url("../images/one.jpg");
	transform: scaleX(-1);
}

#img2 {
	background-image: url("../images/three.jpg");
}

#img3 {
	background-image: url("../images/two.jpg");
}

.bg-text {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	border: 10px solid #f1f1f1;
	z-index: 2;
	padding: 2.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

#textcontent {
	width: 50%;
	background-color: rgba(255, 255, 255, 0.95);
	color: #000;
	font-size: 1rem;
	text-align: center;
}

#cart {
	padding: 5px;
	width: 50px;
}

.package-container {
	width: 80%;
	padding: 24px;
	margin: 0 auto;
	/* border: 2px solid #F2F2F2; */
	border-radius: 8px;
	overflow: hidden;
}

.package {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	flex: 3 1 30ch;
	overflow: hidden;
}

.package-photo img {
	max-width: 80%;
	min-height: 80%;
	width: auto;
	height: auto;
	object-fit: cover;
	object-position: 0% 50%;
}

.package-content {
	padding: 16px 32px;
	flex: 4 1 40ch;
	margin: auto;
}

.package-tags {
	margin: auto;
}

.package-tag {
	display: inline-block;
	margin: auto;
	font-size: .875em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .02em;
}

.package-title {
	margin: auto;
	font-size: clamp(1.4em, 2.1vw, 2.1em);
	font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

.package-title a {
	text-decoration: none;
	color: inherit;
}

.package-metadata {
	margin: 0;
}

.package-rating {
	font-size: 1.2em;
	letter-spacing: 0.05em;
}

.package-rating span {
	color: grey;
}

.package-votes {
	font-size: .825em;
	font-style: italic;
	color: lightgrey;
}

.package-buy {
	display: flex;
	padding: 6px 14px 6px 12px;
	border-radius: 4px;
	border: 2px solid;
	background: none;
	cursor: pointer;
	font-weight: bold;
	margin: auto;
}

.button {
	background-color: white;
	color: black;
	border: 2px solid #555555;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}